
  body {
    background-image: url('https://images.hdqwalls.com/download/binary-code-abstract-lu-3840x2400.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    background-color: #60a9d4;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  section {
    flex: 1;
    padding: 50px;
  }
  
  h1, h2 {
    color: #f1eded;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #494545;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
  }
  
  .social-media img {
    width: 30px;
    height: 30px;
    margin: 10px;
  }
  
  @media (max-width: 768px) {
    h1, h2 {
      font-size: 24px;
    }
    
    section {
      padding: 30px;
    }
  }
  
